<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Add genre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 class="display-2" style="text-align:center; background:#1abc9c; color:white; padding:40px" >FilmCity</h1>
	<h5 th:inline="text">Signed in as [[${#httpServletRequest.remoteUser}]]</h5>
<div>
	<form th:action="@{/logout}" method="post">
 		<input type="submit" value="Sign Out" class="btn btn-danger"/>
	</form>
	
	</div>	
	<h1> Add a genre</h1>
	<form action="#" th:action="@{/addgenre}"  th:object= ${genre} method="post">
	<p>Genre name: <input type="text" th:field="${genre.name}" /></p>
	
	<button type="submit" value="Submit"  class="btn btn-success"> Submit </button>
	<button type="reset" value="Reset"  class="btn btn-danger"> Reset </button>

	</form>
    
</body>
</html>