<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Edit movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 class="display-2" style="text-align:center; background:#1abc9c; color:white; padding:40px" >FilmCity</h1>
	<h5 th:inline="text">Signed in as [[${#httpServletRequest.remoteUser}]]</h5>
<div>
	<form th:action="@{/logout}" method="post">
 		<input type="submit" value="Sign Out"/>
	</form>
	
	</div>	
	<h1>Edit movie</h1>
	<form th:object="${movie}" th:action="@{../savemovie}" action="#" method="post">
	<p>Title: <input type="text" th:field="${movie.title}" /></p>
	<p>Price: <input type="text" th:field="${movie.price}" /></p>
	<p>IMDb rating: <input type="text" th:field="${movie.imdb}" /></p>
	<p>Year: <input type="text" th:field="${movie.year}" /></p>
        <select th:field="*{genre}">
            <option th:each="genre:${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">
            </option>
        </select>
     <input type="hidden" th:field="${movie.id}"/>
        <br>
        <br>
        <input type="submit" value="Save" />
        <input type="reset" value="Reset" />
	</form>
    
</body>
</html>