<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Genres</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 class="display-2" style="text-align:center; background:#1abc9c; color:white; padding:40px" >FilmCity</h1>
	<h5 th:inline="text">Signed in as [[${#httpServletRequest.remoteUser}]]</h5>
<div>
	<form th:action="@{/logout}" method="post" >
 		<input type="submit" value="Sign Out" class="btn btn-danger"/>
	</form>
	
	</div>	
	<h1>Genres</h1>

	<div th:each = "genre : ${genres}">
		<ul th:text = "${genre.name}"></ul>
	</div>		
	<a href="/addgenre"><button class="btn btn-success">Add a genre</button></a>
	<br></br>
    <a href="/movies"><button class="btn btn-success">View movies</button></a>
</body>
</html>