<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Genres</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Genres</h1>

	<div th:each = "genre : ${genres}">
		<ul th:text = "${genre.name}"></ul>
	</div>		
	<a href="/addgenre"><button class="btn btn-success">Add a genre</button></a>
	<br></br>
    <a href="/movies"><button class="btn btn-success">View movies</button></a>
</body>
</html>